:root {
    --primary-background-color: rgba(128, 128, 128, 0);
    --secondary-background-color: #fff;
    --dark-secondary-background-color: #f8f9fa;
    --primary-text-color: #333;
    --secondary-text-color: #fff;
    --primary-accent-color: #68879b;
    --dark-primary-accent-color: #556e7e;
    --secondary-accent-color: #6c757d;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --box-shadow-settings: 0 0 10px rgba(0, 0, 0, 0.2);
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--primary-text-color);
    background: url('/src/assets/seamless-background-computers.jpg');
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
        "header header header"
        "menu main side"
        "footer footer footer";
    height: 100vh;
}

@media (max-width: 768px) {
    body {
        background: url('/src/assets/seamless-background-computers.jpg');

        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: auto auto 1fr;
        grid-template-areas:
            "header header header"
            "main main main"
            "footer footer footer";
        height: 100vh;
    }

    #side-container,
    #menu-container {
        display: none;
    }
}

#header-container {
    grid-area: header;
}

#menu-container {
    grid-area: menu;
}

#main-container {
    grid-area: main;
    margin: 1rem;
    /*min-height: 100vh;*/
}

#side-container {
    grid-area: side;
}

#footer-container {
    grid-area: footer;
    align-self: end;
}

.logo {
    background-color: var(--secondary-accent-color);
}
